;; shadow-cljs configuration
{:source-paths
 ["src/main"
  "src/test"]

 :nrepl
 {:port 3333}

 :dependencies
 [[binaryage/devtools "0.9.10"]
  [proto-repl "0.3.1"]
  [reagent "0.8.1"]]

 :builds
 {:app {:target     :browser
        :output-dir "public/js"
        :asset-path "/js"

        :modules    {:main
                     {:entries [kanban.core]}}

        :devtools   {:after-load kanban.core/mount-root
                     :http-root  "public"
                     :http-port  3000}}}}
